 ![](6-step-ml-framework.png)
Framework Overview

In [18]:
import pandas as pd

## Create 4 series, for cars and colours

In [19]:
# 2 main data types
troy_series1 = pd.Series(["BMW", "Toyota", "Mazda"])
troy_series2 = pd.Series(["Ford", "Chevrolet", "Dodge"])
troy_series3 = pd.Series(["Kia", "Fiat", "Mercedes"])
colours = pd.Series(["Red", "Green", "Blue"])

## Print the Series

In [20]:
print(troy_series1)
print(troy_series2)
print(troy_series3)

0       BMW
1    Toyota
2     Mazda
dtype: object
0         Ford
1    Chevrolet
2        Dodge
dtype: object
0         Kia
1        Fiat
2    Mercedes
dtype: object

## Pass series to Data Frame and use a Python dictionary to create the data Frame

In [21]:
car_data = pd.DataFrame({"Car Make 1": troy_series1, "Car Make 2": troy_series2, "Car Make 3": troy_series3, "Colour": colours})
print(car_data)

  Car Make 1 Car Make 2 Car Make 3 Colour
0        BMW       Ford        Kia    Red
1     Toyota  Chevrolet       Fiat  Green
2      Mazda      Dodge   Mercedes   Blue

## Import Data instead of creating a dict()

In [25]:
# Import Data from file
car_sales = pd.read_csv("car-sales.csv")

In [26]:
print(car_sales)

     Make Colour  Odometer  Doors       Price
0  Toyota  White    150043      4   $4,000.00
1   Honda    Red     87889      4   $5,000.00
2  Toyota   Blue     32549      3   $7,000.00
3     BMW  Black     11179      5  $22,000.00
4  Nissan  White    213095      4   $3,500.00
5  Toyota  Green     99213      4   $4,500.00
6   Honda   Blue     45698      4   $7,500.00
7   Honda   Blue     54738      4   $7,000.00
8  Toyota  White     60000      4   $6,250.00
9  Nissan  White     31600      4   $9,700.00

## Exporting a DataFrame

In [27]:
car_sales.to_csv("car-sales_EXPORTED.csv", index=False)

## Import the exported car data

In [29]:
exported_car_sales = pd.read_csv("car-sales_EXPORTED.csv")
print(exported_car_sales)

     Make Colour  Odometer  Doors       Price
0  Toyota  White    150043      4   $4,000.00
1   Honda    Red     87889      4   $5,000.00
2  Toyota   Blue     32549      3   $7,000.00
3     BMW  Black     11179      5  $22,000.00
4  Nissan  White    213095      4   $3,500.00
5  Toyota  Green     99213      4   $4,500.00
6   Honda   Blue     45698      4   $7,500.00
7   Honda   Blue     54738      4   $7,000.00
8  Toyota  White     60000      4   $6,250.00
9  Nissan  White     31600      4   $9,700.00

## Describe Data

In [30]:
# This is an attribute
car_sales.dtypes

#This is a function
#car_sales.to_csv()

Make        object
Colour      object
Odometer     int64
Doors        int64
Price       object
dtype: object

In [33]:
# Columns
car_columns = car_sales.columns
print(car_columns)

Index(['Make', 'Colour', 'Odometer', 'Doors', 'Price'], dtype='object')

In [37]:
# Car Sales index
print(car_sales.index)
print(car_sales)

RangeIndex(start=0, stop=10, step=1)
     Make Colour  Odometer  Doors       Price
0  Toyota  White    150043      4   $4,000.00
1   Honda    Red     87889      4   $5,000.00
2  Toyota   Blue     32549      3   $7,000.00
3     BMW  Black     11179      5  $22,000.00
4  Nissan  White    213095      4   $3,500.00
5  Toyota  Green     99213      4   $4,500.00
6   Honda   Blue     45698      4   $7,500.00
7   Honda   Blue     54738      4   $7,000.00
8  Toyota  White     60000      4   $6,250.00
9  Nissan  White     31600      4   $9,700.00

In [38]:
# Describe Car Sales - only works on numeric columns
print(car_sales.describe())

            Odometer      Doors
count      10.000000  10.000000
mean    78600.400000   4.000000
std     61983.305147   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96382.000000   4.000000
max    213095.000000   5.000000

In [40]:
# info
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Make      10 non-null     object
 1   Colour    10 non-null     object
 2   Odometer  10 non-null     int64
 3   Doors     10 non-null     int64
 4   Price     10 non-null     object
dtypes: int64(2), object(3)
memory usage: 532.0+ bytes

In [43]:
# the mean / average
car_sales_mean = car_sales.mean(numeric_only=True)
print(car_sales_mean)

Odometer    78600.4
Doors           4.0
dtype: float64

In [44]:
# Temporarily make prices numeric (they are objects in the original data, so need to make a test of the proices as integers to test the mean() function on the proces.
car_prices = pd.Series([23950, 31800, 16750])
car_prices_mean = car_prices.mean()
print(car_prices_mean)

24166.666666666668

In [45]:
result = (car_prices[0] + car_prices[1] + car_prices[2])/3
print(result)

24166.666666666668

In [46]:
car_sales["Doors"].sum()

40

In [47]:
# length
len(car_sales)

10

In [49]:
car_sales.shape

(10, 5)

## Viewing and Selecting Data

In [51]:
car_sales.head()
car_sales.tail()

     Make Colour  Odometer  Doors      Price
5  Toyota  Green     99213      4  $4,500.00
6   Honda   Blue     45698      4  $7,500.00
7   Honda   Blue     54738      4  $7,000.00
8  Toyota  White     60000      4  $6,250.00
9  Nissan  White     31600      4  $9,700.00

In [68]:
# .loc and .iloc
animals = pd.Series(["cat", "dog", "mouse", "pterydactal", "eohippus"], index=[0, 3, 9, 8, 3])

## Using loc and iloc as well as splitting data using [:n]

In [54]:
# return all animals at index value = 3 (2 results come back)
animals.loc[3]

3         dog
3    eohippus
dtype: object

In [57]:
# iloc refers to position
animals.iloc[3]

'pterydactal'

In [58]:
# loc refers to index
car_sales.loc[4]

Make           Nissan
Colour          White
Odometer       213095
Doors               4
Price       $3,500.00
Name: 4, dtype: object

In [59]:
car_sales.iloc[2]

Make           Toyota
Colour           Blue
Odometer        32549
Doors               3
Price       $7,000.00
Name: 2, dtype: object

In [71]:
car_sales["Odometer"]

0    150043
1     87889
2     32549
3     11179
4    213095
5     99213
6     45698
7     54738
8     60000
9     31600
Name: Odometer, dtype: int64

In [63]:
# give animals up to but not including 3
animals.iloc[:3]

0      cat
3      dog
9    mouse
dtype: object

In [65]:
car_sales.iloc[:3]

     Make Colour  Odometer  Doors      Price
0  Toyota  White    150043      4  $4,000.00
1   Honda    Red     87889      4  $5,000.00
2  Toyota   Blue     32549      3  $7,000.00

In [66]:
car_sales["Make"]

0    Toyota
1     Honda
2    Toyota
3       BMW
4    Nissan
5    Toyota
6     Honda
7     Honda
8    Toyota
9    Nissan
Name: Make, dtype: object

In [67]:
car_sales.Make

0    Toyota
1     Honda
2    Toyota
3       BMW
4    Nissan
5    Toyota
6     Honda
7     Honda
8    Toyota
9    Nissan
Name: Make, dtype: object

In [95]:
# now get all car sales where the Make = 'Toyota'
# BOOLEAN indexing
results = car_sales[car_sales["Make"] == "Toyota"]
print(results)

     Make Colour  Odometer  Doors      Price
0  Toyota  White    150043      4  $4,000.00
2  Toyota   Blue     32549      3  $7,000.00
5  Toyota  Green     99213      4  $4,500.00
8  Toyota  White     60000      4  $6,250.00

In [96]:
results2 = [results["Odometer"] > 40000]
print(results2)

[0     True
2    False
5     True
8     True
Name: Odometer, dtype: bool]