 ![](6-step-ml-framework.png)
Framework Overview

In [18]:
import pandas as pd

## Create 4 series, for cars and colours

In [19]:
# 2 main data types
troy_series1 = pd.Series(["BMW", "Toyota", "Mazda"])
troy_series2 = pd.Series(["Ford", "Chevrolet", "Dodge"])
troy_series3 = pd.Series(["Kia", "Fiat", "Mercedes"])
colours = pd.Series(["Red", "Green", "Blue"])

## Print the Series

In [20]:
print(troy_series1)
print(troy_series2)
print(troy_series3)

0       BMW
1    Toyota
2     Mazda
dtype: object
0         Ford
1    Chevrolet
2        Dodge
dtype: object
0         Kia
1        Fiat
2    Mercedes
dtype: object

## Pass series to Data Frame and use a Python dictionary to create the data Frame

In [21]:
car_data = pd.DataFrame({"Car Make 1": troy_series1, "Car Make 2": troy_series2, "Car Make 3": troy_series3, "Colour": colours})
print(car_data)

  Car Make 1 Car Make 2 Car Make 3 Colour
0        BMW       Ford        Kia    Red
1     Toyota  Chevrolet       Fiat  Green
2      Mazda      Dodge   Mercedes   Blue

## Import Data instead of creating a dict()

In [25]:
# Import Data from file
car_sales = pd.read_csv("car-sales.csv")

In [26]:
print(car_sales)

     Make Colour  Odometer  Doors       Price
0  Toyota  White    150043      4   $4,000.00
1   Honda    Red     87889      4   $5,000.00
2  Toyota   Blue     32549      3   $7,000.00
3     BMW  Black     11179      5  $22,000.00
4  Nissan  White    213095      4   $3,500.00
5  Toyota  Green     99213      4   $4,500.00
6   Honda   Blue     45698      4   $7,500.00
7   Honda   Blue     54738      4   $7,000.00
8  Toyota  White     60000      4   $6,250.00
9  Nissan  White     31600      4   $9,700.00

## Exporting a DataFrame

In [27]:
car_sales.to_csv("car-sales_EXPORTED.csv", index=False)

## Import the exported car data

In [29]:
exported_car_sales = pd.read_csv("car-sales_EXPORTED.csv")
print(exported_car_sales)

     Make Colour  Odometer  Doors       Price
0  Toyota  White    150043      4   $4,000.00
1   Honda    Red     87889      4   $5,000.00
2  Toyota   Blue     32549      3   $7,000.00
3     BMW  Black     11179      5  $22,000.00
4  Nissan  White    213095      4   $3,500.00
5  Toyota  Green     99213      4   $4,500.00
6   Honda   Blue     45698      4   $7,500.00
7   Honda   Blue     54738      4   $7,000.00
8  Toyota  White     60000      4   $6,250.00
9  Nissan  White     31600      4   $9,700.00

## Describe Data

In [30]:
# This is an attribute
car_sales.dtypes

#This is a function
#car_sales.to_csv()

Make        object
Colour      object
Odometer     int64
Doors        int64
Price       object
dtype: object

In [33]:
# Columns
car_columns = car_sales.columns
print(car_columns)

Index(['Make', 'Colour', 'Odometer', 'Doors', 'Price'], dtype='object')

In [37]:
# Car Sales index
print(car_sales.index)
print(car_sales)

RangeIndex(start=0, stop=10, step=1)
     Make Colour  Odometer  Doors       Price
0  Toyota  White    150043      4   $4,000.00
1   Honda    Red     87889      4   $5,000.00
2  Toyota   Blue     32549      3   $7,000.00
3     BMW  Black     11179      5  $22,000.00
4  Nissan  White    213095      4   $3,500.00
5  Toyota  Green     99213      4   $4,500.00
6   Honda   Blue     45698      4   $7,500.00
7   Honda   Blue     54738      4   $7,000.00
8  Toyota  White     60000      4   $6,250.00
9  Nissan  White     31600      4   $9,700.00

In [38]:
# Describe Car Sales - only works on numeric columns
print(car_sales.describe())

            Odometer      Doors
count      10.000000  10.000000
mean    78600.400000   4.000000
std     61983.305147   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96382.000000   4.000000
max    213095.000000   5.000000