In [9]:
print('hello, world')

hello, world

In [10]:
def test123():
    print('in the function 2')

In [11]:
test123()

in the function 2

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [13]:
tem = pd.DataFrame
print(tem)

<class 'pandas.core.frame.DataFrame'>

In [14]:
df = pd.read_csv('heart-disease.csv')

In [15]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [18]:
import dns.resolver

result = dns.resolver.resolve('duckduckgo.com', 'A')
for ipval in result:
    print('IP', ipval.to_text())

IP 52.250.42.157

In [1]:
import requests

def fetch_data():
    # Example API endpoint (JSONPlaceholder)
    url = "https://jsonplaceholder.typicode.com/posts"

    try:
        response = requests.get(url)   # Send GET request
        response.raise_for_status()    # Raise error if request failed

        data = response.json()         # Parse JSON response
        print("Fetched data successfully!")

        # Print first 3 records for demo
        for item in data[:3]:
            print(f"ID: {item['id']}, Title: {item['title']}")

    except requests.exceptions.RequestException as e:
        print(f"Error fetching data: {e}")

if __name__ == "__main__":
    fetch_data()

Fetched data successfully!
ID: 1, Title: sunt aut facere repellat provident occaecati excepturi optio reprehenderit
ID: 2, Title: qui est esse
ID: 3, Title: ea molestias quasi exercitationem repellat qui ipsa sit aut